:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#gameBoard{
  margin: 0 auto;
}
@media only screen and (max-width: 640px){
  #gameBoard{
    width: 320px;
  }
}
@media only screen and (max-width: 940px) {
  #gameBoard{
    width: 640px;
  }
}
@media only screen and (min-width: 940px){
  #gameBoard{
    width: 940px;
  }
}


.reversed img{
  transform: rotateX(180deg) rotateY(180deg);
}

.front {
  background: #333 url('https://i.imgur.com/jjPQrMK.jpg') no-repeat center center / contain;
}

body {
  margin:0px;
  background: #dfdbdb;
}

.grid {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.card,
.back,
.front {
  height: auto;
 
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}
.reversed {
  transform: rotateX(180deg) rotateY(180deg);

} 
.card-container-one{   
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  ". . ."
  ". a ."
  ". . .";
}
.card-container{
  left:0px;
  position:relative;
  height:auto;
  padding-top:100px;
  padding-bottom:300px;
  background-color:#747bff;
 }
.card-container-two-vertical{    
  display: grid;
  gap: 2%;
  min-height:100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  ". a ." 
  ". b .";
}
.card-container-two-horizontal{   
  display: grid;
  gap: calc(15px + 2%);
  grid-template-areas: 
  "a . b";
}
.card-container-three-story{   
  display: grid;
    gap: calc(15px + 2%);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  ". . ."
  "a b c"
  ". . .";
}
.card-container-three-triangle{ 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  ". a ." 
  ". . ." 
  "b . c";
}
.card-container-three-inverted-triangle{ 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "a . b" 
  ". . ." 
  ". c .";
}
.card-container-four-cross{ 
  display: grid;

  gap: calc(20px + 5%);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  ". a ."  
  "b . c"  
  ". d .";
}
.card-container-five-cross{ 
  display: grid;
  row-gap:10%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  ". a ."  
  "b c d"  
  ". e .";
}
.card-container-five-pentagram{ 
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
  ". . a . ."
  "b . . . c"
  ". d . e .";
}  

.card-container-six-david{
  display: grid;
  row-gap: calc(5px + 2%);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  " . a  ."
  "b .  c"
  "d .  e"
  ". f . ";
}
.card-container-seven-david{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
  ". . a . . "
  "b . . . c"
  ". . d . ."
  "e . . . f"
  ". . g . .";
}
.a{  
  width:200px; 
  width:420px;  
  grid-area: a; 
}
.b{  
  width:200px; 
  width:420px; 
  grid-area: b; 
}
.c{  
  width:200px; 
  width:420px;  
  grid-area: c; 
} 
.d{  
  width:200px; 
  width:420px; 
  grid-area: d; 
}
.e{  
  width:200px; 
  width:420px; 
  grid-area: e; 
}
.f{  
  width:200px; 
  width:420px; 
  grid-area: f; 
} 
.g{  
  width:200px; 
  width:420px; 
  grid-area: g; 
} 
.text-1{
  position:fixed;
  width:350px;
  margin:0px auto; 
  grid-area: text1; 
}
.image-1{
  grid-area: text1;
}
.card-image {
  cursor: pointer;
  width:auto;
  height: auto; 
  max-width: 100%; /* Ensures image doesn't overflow its parent container */
  height: auto; 
  border-radius: 2% 2%;
}

.card {
height:705px;
}

.back {
  transform: rotateY(180deg);
  background-color: #111;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match .front {
  background: #333;
}

.selected {
  border: 1px solid #111;
}

.match {
  border: none;
  background-image: none !important;
  background: #111;
}

.bottomBar {
  display: flex;
}

.resetButton {
  background-color: #111;
  border: 0px solid #111;
  border-radius: 5px;
  color: #CCC;
  width: 90px;
  margin-left: 10px;
  text-align: center;
}
.resetbutton :hover{
  cursor: grab;
}

.story-section{
  padding:5em;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  margin-bottom: 50px;
}