:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#gameBoard{
  margin: 0 auto;
}
@media only screen and (max-width: 640px){
  #gameBoard{
    width: 320px;
  }
}
@media only screen and (max-width: 940px) {
  #gameBoard{
    width: 640px;
  }
}
@media only screen and (min-width: 940px){
  #gameBoard{
    width: 940px;
  }
}




.front {
  background: #333 url('https://i.imgur.com/jjPQrMK.jpg') no-repeat center center / contain;
}

body {
  margin: 20px 0;
  background: #333;
}

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.card,
.back,
.front {
  height: 150px;
  width: 95px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  background-color: #111;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match .front {
  background: #333;
}

.selected {
  border: 1px solid #111;
}

.match {
  border: none;
  background-image: none !important;
  background: #111;
}

.bottomBar {
  display: flex;
}

.resetButton {
  background-color: #111;
  border: 0px solid #111;
  border-radius: 5px;
  color: #CCC;
  width: 90px;
  margin-left: 10px;
  text-align: center;
}
.resetbutton :hover{
  cursor: grab;
}
